.slick-slider {
  margin-bottom: 50px;
  .slick-next,
  .slick-prev {
    z-index: 100;

    &::before {
      font-size: 30px;
    }
  }
  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: -25px;
  }

  .slick-slide {
    position: relative;
    img {
      width: 100%;
    }
  }

  .slide-infos {
    position: absolute;
    width: 100%;
    left: 10px;
    bottom: 20px;

    h2 {
      font-size: 2rem;
      line-height: 1;
      color: $white;
      // font-style: normal;
      text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
      margin: 0 0 10px;
      font-weight: 400;
      width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .director,
    .prod {
      color: #fff;
      width: 100%;
      text-align: left;
      text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
      line-height: 1.4;
    }
    .director {
      font-size: 16px;
      font-weight: 700;
    }
    .prod {
      font-size: 14px;
    }
  }
}
